{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
home
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">no</button>
        <button type="button" id="start-button" class="btn btn-success">yes</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <!-- Login and Register links -->
      <div>
        {% if user.is_authenticated %}
          <span class="greet">Hello, {{ user.username }}</span>
        {% endif %}
      </div>
      {% if not user.is_authenticated %}
        <div class="alert alert-warning mt-3">
          To access quiz details and results, please
          <a href="{% url 'quizes:login' %}">Login</a> or
          <a href="{% url 'quizes:register' %}">Register</a>.
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Serbian Quiz List</h1>
      <hr>
      <div class="row quiz-cards">
        {% for obj in object_list %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ obj.name }}</h5>
                <p class="card-text">Questions: {{ obj.number_of_questions }}</p>
                <p class="card-text">Difficulty: {{ obj.difficulty }}</p>
                <p class="card-text">Time: {{ obj.time }} minutes</p>
                <p class="card-text">Passing Score: {{ obj.required_score_to_pass }}</p>
                <a href="{% url 'quizes:quiz-view' obj.pk %}" class="btn btn-primary">Start Quiz</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock css %}
